.preview-container {
  margin: 0;
  padding-top: 30px;
  background-color: #f7f7f7;
  :global {
    .el-tabs--card>.el-tabs__header .el-tabs__nav {
      border: 1px solid #E4E7ED !important;
    }
    .el-tabs__header {
      width: 300px;
      margin: 0 auto;
      border: none;
    }
    .el-tabs--card>.el-tabs__header .el-tabs__item {
      background-color: white;
      border: 1px solid white;
    }
    div.preview-layer {
      width: 500px;
      height: 100%;
      margin: 10px auto;
      right: 0;
      text-align: center;
    }

    div.preview-layer .preview-bg {
      width: 500px;
      height: 100%;
      margin: 20px auto;
      z-index: 999;
      opacity: 0.7;
    }

    div.preview-layer .preview-phone {
      width: 372px;
      height: 744px;
      background: url('~@/assets/images/appearset_bgc_big.png');
      background-size: 372px 744px;
      z-index: 1000;
    }

    .qrcode-view {
      position: absolute;
      top: 0;
      right: 20px;

      p {
        text-align: center;
        font-size: 12px;
        color: #303133;
      }
    }

    .preview-html {
      width: 345px !important;
      height: 568px !important;
      margin: 74px 0 0;
      border-radius: 5px;
      outline: none;
      background-color: #fff;
      border-width: 2px;
      border-style: inset;
      border-color: initial;
      border-image: initial;
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;
      border-left-width: 0;
    }
  }
}



